@font-face {
    font-family: "Avenir grosso";
    src: url("font/avenir-similar-fonts/avenir-similar-fonts/TT-Norms-Font/TT-Norms-Medium.otf")
        format(opentype);
}

@font-face {
    font-family: "Avenir fino";
    src: url("font/avenir-similar-fonts/avenir-similar-fonts/TT-Norms-Font/TT-Norms-Regular.otf")
        format(opentype);
}

@font-face {
    font-family: " Avenir finoI ";
    src: url("font/avenir-similar-fonts/avenir-similar-fonts/TT-Norms-Font/TT-Norms-Thin.otf")
        format(opentype);
}

* {
    --cor1: #eacc23;
    --cor2: #1e2d3b;
    --cor3: #fff;
    --cor4: #3d5975;
    --cor5: #f7f7f7;
    --cor6: #333;
    --cor7: rgb(0, 0, 0);
}

.carrossel-container {
    position: relative;
    max-width: 800px;
    margin: 0rem 0rem 0rem 6rem;

    #img-X {
        display: grid;
        width: 173%;
        margin: 3rem 0rem 1rem 0rem;
        justify-content: right;

        img {
            width: 5rem;
            height: 3.6rem;
        }
    }
}

.slide {
    display: none;
    animation: fade 0.5s;
}

img {
    max-width: 70%;
    border-radius: 7px;
}

.texto {
    display: block;
    padding: 5rem 0rem 0rem 10rem;

    h2 {
        font-size: 3rem;
        margin: 0;
        padding-bottom: 3rem;
        font-family: "Avenir grosso";
        font-weight: normal;
        white-space: nowrap;
    }

    a {
        font-family: "Avenir fino";
        color: var(--cor2);
    }

    a:hover {
        color: var(--cor2);
    }
}

.slide.ativo {
    display: flex;
}

.slide img {
    display: flex;
    margin: 0rem 0rem 0rem 8rem;
    width: 70%;
    height: auto;
}

.botao-nav {
    display: flex;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    border: none;
    background: none;
    text-decoration: none;
    z-index: 1;
}

.proximo {
    right: 0;
}

.anterior {
    left: 0;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 320px) and (max-width: 375px) {
    body {
        margin: 0;
    }

    .carrossel-container {
        grid-template-columns: repeat(1, 4fr);
        position: none;
        max-width: none;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            margin: 15px 0px;
            justify-content: left;
            width: 100%;

            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    .texto {
        padding: 20px 0px 0px 10px;

        h2 {
            font-size: 3rem;
            margin: 0;
            padding-bottom: 2rem;
        }
    }

    img {
        max-width: 100%;
        border-radius: 0px;
    }

    .slide img {
        margin: 0rem 0rem 0rem 0rem;
        width: 100%;
    }

    .slide.ativo {
        flex-direction: column;
    }

    .proximo,
    .anterior {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0px 8px;
        border-radius: 5px;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    body {
        margin: 0;
    }

    .carrossel-container {
        grid-template-columns: repeat(1, 4fr);
        position: none;
        max-width: none;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            margin: 15px 0px;
            justify-content: left;
            width: 100%;

            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    .texto {
        padding: 20px 0px 0px 10px;

        h2 {
            font-size: 3rem;
            margin: 0;
            padding-bottom: 2rem;
        }
    }

    img {
        max-width: 100%;
        border-radius: 0px;
    }

    .slide img {
        margin: 0rem 0rem 0rem 0rem;
        width: 100%;
    }

    .slide.ativo {
        flex-direction: column;
    }

    .proximo,
    .anterior {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0px 8px;
        border-radius: 5px;
    }
}

@media (min-width: 425px) and (max-width: 500px) {
    body {
        margin: 0;
    }

    .carrossel-container {
        grid-template-columns: repeat(1, 4fr);
        position: none;
        max-width: none;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            margin: 15px 0px;
            justify-content: left;
            width: 100%;

            img {
                width: 3rem;
                height: 3rem;
            }
        }
    }

    .texto {
        padding: 20px 0px 60px 10px;

        h2 {
            font-size: 3rem;
            margin: 0;
            padding-bottom: 2rem;
        }
    }

    img {
        max-width: 100%;
        border-radius: 0px;
    }

    .slide img {
        margin: 0rem 0rem 0rem 0rem;
        width: 100%;
    }

    .slide.ativo {
        flex-direction: column;
    }

    .proximo,
    .anterior {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0px 8px;
        border-radius: 5px;
    }
}

@media (min-width: 500px) and (max-width: 700px) {
    body {
        margin: 0;
    }

    .carrossel-container {
        grid-template-columns: repeat(1, 4fr);
        position: none;
        max-width: none;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            margin: 15px 0px;
            justify-content: left;
            width: 100%;

            img {
                width: 4rem;
                height: 4rem;
            }
        }
    }

    .texto {
        padding: 20px 0px 60px 20px;

        h2 {
            font-size: 3.5rem;
            margin: 0;
            padding-bottom: 2rem;
        }

        a {
            font-size: 1.2rem;
        }
    }

    img {
        max-width: 100%;
        border-radius: 0px;
    }

    .slide img {
        margin: 0rem 0rem 0rem 0rem;
        width: 100%;
    }

    .slide.ativo {
        flex-direction: column;
    }

    .botao-nav {
        top: 44%;
    }

    .proximo,
    .anterior {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px 20px;
        border-radius: 5px;
    }
}

@media (min-width: 700px) and (max-width: 800px) {
    body {
        margin: 0;
    }
    .carrossel-container {
        grid-template-columns: repeat(1, 4fr);
        max-width: none;
        position: none;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            width: 100%;
            margin: 20px 0px;
            justify-content: right;

            img {
                width: 4.5rem;
                height: 4.5rem;
            }
        }
    }

    img {
        max-width: 100%;
        border-radius: 0px;
    }

    .texto {
        padding: 1rem 0rem 5rem 6.6rem;

        h2 {
            font-size: 3.8rem;
            margin: 0;
            padding-bottom: 2rem;
        }

        a {
            font-size: 1.4rem;
        }
    }

    .slide.ativo {
        flex-direction: column;
    }

    .slide img {
        margin: 0rem auto;
        width: 70%;
        height: 100%;
    }

    .botao-nav {
        top: 39%;
        padding: 16px;
        color: var(--cor3);
    }

    .proximo,
    .anterior {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px 10px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.188);
    }
}

@media (min-width: 800px) and (max-width: 900px) {
    body {
        margin: 0;
    }
    .carrossel-container {
        grid-template-columns: repeat(1, 4fr);
        max-width: none;
        position: none;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            width: 100%;
            margin: 20px 0px;
            justify-content: right;

            img {
                width: 4.5rem;
                height: 4.5rem;
            }
        }
    }

    img {
        max-width: 100%;
        border-radius: 0px;
    }

    .texto {
        padding: 1rem 0rem 5rem 7.5rem;

        h2 {
            font-size: 3.8rem;
            margin: 0;
            padding-bottom: 2rem;
        }

        a {
            font-size: 1.4rem;
        }
    }

    .slide.ativo {
        flex-direction: column;
    }

    .slide img {
        margin: 0rem auto;
        width: 70%;
        height: 100%;
    }

    .botao-nav {
        top: 39%;
        padding: 16px;
        color: var(--cor3);
    }

    .proximo,
    .anterior {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px 10px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.188);
    }
}

@media (min-width: 900px) and (max-width: 950px) {
    body {
        margin: 0;
    }
    .carrossel-container {
        grid-template-columns: repeat(1, 4fr);
        max-width: none;
        position: none;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            width: 100%;
            margin: 20px 0px;
            justify-content: right;

            img {
                width: 4.5rem;
                height: 4.5rem;
            }
        }
    }

    img {
        max-width: 100%;
        border-radius: 0px;
    }

    .texto {
        padding: 1rem 0rem 5rem 8rem;

        h2 {
            font-size: 3.8rem;
            margin: 0;
            padding-bottom: 2rem;
        }

        a {
            font-size: 1.4rem;
        }
    }

    .slide.ativo {
        flex-direction: column;
    }

    .slide img {
        margin: 0rem auto;
        width: 70%;
        height: 100%;
    }

    .botao-nav {
        top: 39%;
        padding: 16px;
        color: var(--cor3);
    }

    .proximo,
    .anterior {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0px 10px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.188);
    }
}

@media (min-width: 951px) and (max-width: 1100px) {
    .carrossel-container {
        max-width: 100%;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            width: 100%;
            margin: 2rem 0rem 2.3rem 0rem;

            img {
                width: 6rem;
                height: 4.4rem;
            }
        }

        img {
            max-width: 70%;
        }

        .texto {
            padding: 3rem 0rem 0rem 10.4rem;

            h2 {
                font-size: 4rem;
                padding-bottom: 2rem;
            }

            a {
                font-size: 1.3rem;
            }
        }

        .slide img {
            margin: 0rem auto 0rem auto;
            width: 65%;
        }

        .botao-nav {
            top: 41%;
            width: 23%;
        }

        .anterior {
            left: -3rem;
        }
    }

    .slide.ativo {
        flex-direction: column;
    }
}

@media (min-width: 1050px) and (max-width: 1250px) {
    .carrossel-container {
        max-width: 100%;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            width: 100%;
            margin: 2rem 0rem 2.3rem 0rem;

            img {
                width: 6rem;
                height: 4.4rem;
            }
        }

        img {
            max-width: 70%;
        }

        .texto {
            padding: 3rem 0rem 0rem 12.1rem;

            h2 {
                font-size: 4rem;
                padding-bottom: 2rem;
            }

            a {
                font-size: 1.3rem;
            }
        }

        .slide img {
            margin: 0rem auto 0rem auto;
            width: 65%;
        }

        .botao-nav {
            top: 41%;
            width: 23%;
        }

        .anterior {
            left: -3rem;
        }
    }

    .slide.ativo {
        flex-direction: column;
    }
}

@media (min-width: 1250px) and (max-width: 1350px) {
    .carrossel-container {
        max-width: 100%;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            width: 100%;
            margin: 2rem 0rem 2.3rem 0rem;

            img {
                width: 6rem;
                height: 4.4rem;
            }
        }

        img {
            max-width: 70%;
        }

        .texto {
            padding: 3rem 0rem 0rem 13.6rem;

            h2 {
                font-size: 4rem;
                padding-bottom: 2rem;
            }

            a {
                font-size: 1.3rem;
            }
        }

        .slide img {
            margin: 0rem auto 0rem auto;
            width: 65%;
        }

        .botao-nav {
            top: 41%;
            width: 23%;
            font-size: 3.9rem;
        }

        .anterior {
            left: -3rem;
        }
    }

    .slide.ativo {
        flex-direction: column;
    }
}

@media (min-width: 1350px) and (max-width: 1440px) {
    .carrossel-container {
        max-width: 100%;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            width: 100%;
            margin: 2rem 0rem 2.3rem 0rem;

            img {
                width: 9rem;
                height: 4.4rem;
            }
        }

        img {
            max-width: 45%;
        }

        .texto {
            padding: 3rem 0rem 0rem 10rem;

            h2 {
                font-size: 4rem;
                padding-bottom: 2rem;
            }

            a {
                font-size: 1.3rem;
            }
        }

        .slide img {
            margin: 0rem 0rem 0rem 14rem;
            width: 65%;
        }

        .botao-nav {
            top: 50%;
            width: 64%;
            font-size: 3.9rem;
        }

        .anterior {
            left: -19rem;
        }
    }

    .slide.ativo {
        flex-direction: none;
    }
}

@media (min-width: 1440px) and (max-width: 1540px) {
    .carrossel-container {
        max-width: 100%;
        margin: 0rem 0rem 0rem 0rem;

        #img-X {
            width: 100%;
            margin: 2rem 0rem 2.3rem 0rem;

            img {
                width: 9rem;
                height: 4.4rem;
            }
        }

        img {
            max-width: 45%;
        }

        .texto {
            padding: 3rem 0rem 0rem 10rem;

            h2 {
                font-size: 4rem;
                padding-bottom: 2rem;
            }

            a {
                font-size: 1.3rem;
            }
        }

        .slide img {
            margin: 0rem 0rem 0rem 14rem;
            width: 65%;
        }

        .botao-nav {
            top: 50%;
            width: 64%;
            font-size: 3.9rem;
        }

        .anterior {
            left: -19rem;
        }
    }

    .slide.ativo {
        flex-direction: none;
    }
}
