@font-face {
    font-family: "Avenir grosso";
    src: url("font/avenir-similar-fonts/avenir-similar-fonts/TT-Norms-Font/TT-Norms-Medium.otf")
        format(opentype);
}

@font-face {
    font-family: "Avenir fino";
    src: url("font/avenir-similar-fonts/avenir-similar-fonts/TT-Norms-Font/TT-Norms-Regular.otf")
        format(opentype);
}

@font-face {
    font-family: " Avenir finoI ";
    src: url("font/avenir-similar-fonts/avenir-similar-fonts/TT-Norms-Font/TT-Norms-Thin.otf")
        format(opentype);
}

* {
    --cor1: #eacc23;
    --cor2: #1e2d3b;
    --cor3: #fff;
    --cor4: #3d5975;
    --cor5: #f7f7f7;
    --cor6: #333;
    --cor7: rgb(0, 0, 0);
}

